body {
  background: #EAEDEA;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  color: #333; }

.fieldWithErrors {
  border: 4px solid #ED6868;
  padding: 5px; }

.dim {
  color: #333;
  font-size: 75%; }

#base {
  background-image: url(../images/base.jpg);
  background-repeat: repeat-x;
  height: 48px;
  text-align: left;
  margin-bottom: 10px; }
  #base #base-content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1px; }
  #base img {
    float: left;
    margin-right: 20px; }
  #base #basenav {
    height: 46px; }
    #base #basenav ul {
      list-style: none;
      display: inline; }
    #base #basenav li {
      margin-right: 5px;
      float: left; }
    #base #basenav li a {
      float: left;
      color: #fff;
      height: 20px;
      border-left: 1px solid #000;
      padding: 12px;
      padding-top: 14px;
      text-decoration: none; }

#header {
  color: #333; }
  #header a:visited {
    color: #333; }
  #header h1 {
    font-size: 3em;
    margin: 0; }
    #header h1 a {
      text-decoration: none; }

h4 {
  margin-top: 10px;
  font-size: 1.2em; }

#right {
  float: right;
  margin-top: 24px;
  font-size: 1.1em;
  width: 125px; }
  #right img {
    float: left; }
  #right #link {
    padding-top: 8px; }

#users {
  float: right;
  text-align: right;
  margin-top: -16px; }
  #users select {
    font-size: 1.1em; }

#content {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left; }
  #content a {
    color: #098BB6; }
  #content a:hover {
    background-color: #DBDE78; }

#footer {
  width: 98%;
  height: 20px;
  background: #262626;
  color: #ccc;
  padding: 1%;
  margin-top: 10px;
  text-align: center;
  font-size: 90%;
  border-bottom: 6px solid #111; }
  #footer a {
    color: #666666; }

#form {
  background: #fff;
  padding: 10px 10px 15px 25px;
  border: 15px solid #B5E387;
  margin-top: 30px; }

#form input {
  font-size: 1.2em; }
#form textarea {
  font-size: 1.2em;
  height: 150px; }
#form select {
  font-size: 1.2em; }

#show {
  background: #fff;
  padding: 10px 10px 15px 25px;
  border: 15px solid #BCCFE3;
  margin-top: 30px; }
  #show h1 {
    margin-top: 5px; }

#list_event {
  background: #fff;
  padding: 5px;
  border-top: 1px solid #BCCFE3;
  margin-top: 5px; }
  #list_event h3 {
    margin-top: 0; }

#delete {
  float: right;
  background: #ccc;
  width: 10px;
  text-align: center; }
  #delete a {
    text-decoration: none;
    font-size: 80%; }
