#cal table {
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%; }
#cal td {
  padding: 3px;
  width: 125px;
  height: 125px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: auto; }
#cal th {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #A8CFDA; }

#hover:hover {
  background: #fff; }

.day {
  font-size: 1.2em; }

.notmonth {
  color: #9E9E9E; }

#event {
  background: #CD8AA4;
  width: 95%;
  color: #000;
  margin-top: 1px;
  padding: 4px;
  border-top: 4px solid #5A484F;
  opacity: 0.90;
  filter: alpha(opacity=90);
  font-size: 92%; }
  #event a {
    color: #000; }

#event:hover {
  background: #E097B3; }
